<!-- lista_clientes.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Clientes</title>
</head>
<body>
    <h1>Lista de Clientes</h1>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Telefone</th>
                <th>CPF</th>
                <th>Identidade</th>
                <!-- Adicione outras colunas conforme necessário -->
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.nome }}</td>
                <td>{{ cliente.email }}</td>
                <td>{{ cliente.telefone }}</td>
                <td>{{ cliente.cpf }}</td>
                <td>{{ cliente.identidade }}</td>
                <!-- Adicione outras colunas conforme necessário -->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>